@{
    ViewData["Title"] = "Successful registration";
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your account was created successfully</h2>
        <p>You can now <a asp-controller="Account" asp-action="Login" class="font-weight-bold text-decoration-none">log in</a> to your account</p>
        <hr />
    </div>
</div>